GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8787/oauth2/callback
GOOGLE_SCOPES=https://www.googleapis.com/auth/gmail.send
GOOGLE_TOKEN_FILE=.secrets/gmail-oauth.tokens.json
OUTREACH_FROM_NAME=
OUTREACH_REPLY_TO=
